<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-slide class="full-slide">
    <ion-slides pager="true">
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Regístrate.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/cellphone.png"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Registra tu vehículo.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/car.png"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Completa la entrega.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/pin.png"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Gana dinero.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/money.png"></ion-img>
          <ion-button style="--box-shadow: none;" (click)="openPage()" class="start-btn" expand="block">Comenzar</ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-slide>
</ion-content>