<ion-card class="logo-card">
  <h1 class="logo">Orden</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card style="margin-bottom: 0;">
    <p class="articles">Lista de artículos</p>
    <p class="date">{{date}}</p>
  </ion-card>

  <ion-card class="article-container">

      <ion-grid style="border-top: 1px solid rgb(206, 206, 206);">
          <ion-row>
            <ion-col style="padding-top: 0; padding-bottom: 0; text-align: center">
              <p class="article-name">Nombre:</p>
            </ion-col>
            <ion-col style="padding-top: 0; padding-bottom: 0; text-align: center;">
              <p class="price">Cantidad:</p>
            </ion-col>
            <ion-col style="padding-top: 0; padding-bottom: 0; text-align: center;">
                <p class="price">Precio:</p>
              </ion-col>
          </ion-row>
        </ion-grid>


    <ion-grid *ngFor="let item of items" style="border-top: 1px solid rgb(206, 206, 206);">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name">{{item.prodName}}</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price">{{item.quantityNumber}}</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
            <p class="price">${{item.originalPrice}}</p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid style="border-top: 1px solid rgb(206, 206, 206);">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name">Doritos</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price">$1.99</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="border-top: 1px solid rgb(206, 206, 206);">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name">Colgate</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price">$3.99</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="border-top: 1px solid rgb(206, 206, 206);">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name">Barefoot Moscato</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price">$8.99</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="border-top: 1px solid rgb(206, 206, 206);">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name">Kraft Mild Cheddar</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price">$2.99</p>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FFC93A">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 12px;">TOTAL DE GANANCIA</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price" style="color: white; font-weight: 700; font-size: 15px;">${{total}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-card>
</ion-content>