.logo {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Mukta', sans-serif;
  color: white;
  margin-top: 50px;
  margin-bottom: 25x;
}

.logo-card {
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  --background: #FFC93A;
  width: 100%;
}

.icon-btn {
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50px;
  left: 10px;
}

.articles {
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-size: 15px;
  color: rgb(59, 59, 59);
}

.date {
  font-family: 'Mukta', sans-serif;
  font-size: 13px;
  color: rgb(59, 59, 59);
}

.article-container {
  box-shadow: 0 8px 6px -6px black;
  background: rgba(224, 224, 224, 0.575);
  margin: 40px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.article-name {
  text-align: left;
  font-family: 'Mukta', sans-serif;

}

.price {
  text-align: right;
  font-family: 'Mukta', sans-serif;

}