<ion-card class="logo-card">
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  <img class="logo" src="assets/logo.png">
</ion-card>

<ion-content class="bg-orange">
  <h5 class="title-input">TÉRMINOS Y CONDICIONES</h5>

  <ion-card style="height:auto;border:1px solid #ccc;font: Georgia, Garamond, Serif;overflow:auto;  padding:10px;">
  <p class="term">
    <span>Terms of Use</span>
    <br>
    <span>Version 1.0</span>
    <br>
    <br>
    Last modified: September 5, 2019. This is the first version of <span style="font-weight: bold">BuyPin Driver Terms of
        Use.</span>
        <br>
        <br>

    <span style=" text-decoration: underline;">Effective Date:</span> September 5, 2019.

    <br><br>

    <span >These general terms of use (hereinafter, the “General Terms”) apply to Buypin mobile application (hereinafter, “Buypin”), whose domain is www.buypin.app, and to its related mobile application. By using the mobile app and site, you agree to these terms of use. If you do not agree,
    please refrain from using it.</span>
    <br><br>

    Buypin hereby makes available to users (hereinafter, the “User” or “Users”) the Buypin website
    and mobile application (hereinafter, jointly, the “Platform”).
    <br><br>
    The following identification details of the site owner are provided below:
    <br><br>

    Company name: We Deliver PR, LLC
    <br>
    Registered address: #17 Urbanización Los Flamboyanes, Aguada, PR, 00602
    <br>
    Employer Identification Number (EIN): 66-0925896
    <br><br>

      <span style="margin-left: 5px;">1. Object</span> 
       <br>
    Buypin is a technology company whose main activity is the development and management of a
    technology platform through which certain local stores can offer their products by means of a
    mobile or web application (hereinafter, the “APP”) and, in an ancillary manner, where applicable
    and if so requested through the APP by users of the APP and consumers of the said local stores,
    act as an intermediary in the immediate delivery of the products.

    <br><br>
    Buypin thus has a Platform through which a variety of merchants, with which Buypin can have
    in place a commercial agreement for the use of the platform, offer a selection of products and
    services. Customers can request the purchase of products and services from such merchants by
    means of a mandate given by them to a third party when placing an order through the Platform.
    In such cases, Buypin acts as a mere intermediary and is therefore unable to assume, and does
    not assume any responsibility for the quality of the products or for the proper provision of the
    services offered directly by the merchants or by such third parties.
      <br><br>

    In addition, Buypin is an “on demand” intermediary Platform for the provision of express Driver
    services. Its aim is to make it easier for any persons requiring help with their errands or purchases at associated merchants (hereinafter, “Customers”) to carry out their errands through such 
    third parties, who are voluntarily willing to carry out the mandate given to them by Customers
    (hereinafter, the “Drivers”).
      <br><br>

    Drivers are thus a network of self-employed Drivers / delivery people who work with Buypin.
    When they wish to provide Driver services, they log onto the Buypin Platform and undertake
    within a certain time to carry out the Driver / distribution / delivery service entrusted to them by
    a Customer by means of the above-mentioned mandate.
    <br><br>

    Throughout these General Terms of Use, both Customers and Drivers will be referred to as
    “Users”.
    <br><br>
    <span style="margin-left: 5px;">2. Terms of Use</span> 
    <br>
    By accessing the Platform and voluntarily creating a profile, all Users acknowledge and expressly and unambiguously agree to these General Terms and to the Privacy Policy.
      <br><br>
      <span style="margin-left: 5px;">3. Access and Registration for Customers</span>
      <br>
    In order to be a Customer of the Platform, it is essential that you meet the following requirements:
    <br><br>
    You must be at least 18 years of age.
    <br><br>
    You must truthfully complete the mandatory fields of the registration form requesting personal
    details such as the user name, e-mail address, telephone number and bank card number, or bank
    account number in the case of Drivers.
    <br><br>  
    You must agree to these Terms of Use.
    <br><br>
    You must agree to the Privacy and Data Protection Policy.
    <br><br>
    The User warrants that all the information regarding his/her identity and capacity provided to
    Buypin in the registration forms for its Platform is true, accurate and complete. In addition, the
    User undertakes to keep his/her details up to date.
    <br><br>

    If a User provides any false, inaccurate or incomplete information or if Buypin considers that
    there are well founded reasons to doubt the truthfulness, accuracy or integrity of such information, Buypin may deny the User’s current or future access to, and use of, the Platform or any of
    its contents and/or services.
    <br><br>
    When registering on the Platform, Users must choose a username and password. Both the username and the password are strictly confidential, personal and non-transferable. In the case of
    Drivers, they must provide the following information: Name, valid state issued ID or equivalent,
    telephone number, background check issued by the State Police (certificado de antecedentes penales de la Policía de Puerto Rico), vehicular information such as make, model, year, color (the
    information submitted must be of the same vehicle that will be used for delivery. Buypin will not
    permit for a different vehicle to be used other than the vehicle on file under no circumstances.
    <br><br>
    Users undertake not to disclose the details of their account or allow access thereto to third parties. Users shall be solely responsible for any use of such details that may be made by third parties, including for statements made on the Platform or any other action carried out under their
    username and/or password.
    <br><br>
    Buypin cannot guarantee the identity of registered Users, and it will therefore not be liable for
    the use by unregistered third parties of a registered User’s identity. Users must immediately inform Buypin, using the Contact Form, if their username or password is stolen, disclosed or lost.
    <br><br>
    <span style="margin-left: 5px;">3.1 Profile</span>
    <br>
    In order to complete their registration on the Platform, Users must provide certain details, such
    as username, e-mail address, telephone number, bank card details, etc. Once they have completed
    the registration process, all Users can access their profile and complete or edit it, and/or deregister, as they deem appropriate.
    <br><br> 
    <span style="margin-left: 5px;"> 3.2. Credit Card Theft or Removal</span>
    <br>
    Since Buypin cannot guarantee the identity of registered Users, Users are under an obligation to
    inform Buypin if they have evidence that the credit card associated with their Buypin profile has
    been stolen and/or is being fraudulently used by a third party. Therefore, since Buypin and its
    payment platform are proactive in the protection of Users through the use of appropriate security
    measures, if a User fails to inform Buypin of the missing card, Buypin will not be liable for any
    fraudulent use thereof that may be made by third parties on the User’s account.
    <br><br>

    <span style="margin-left: 5px;"> 4. Operation of the Service</span> 
    <br>
    Customers are solely responsible for providing the correct addresses for delivery and collection
    on the Platform, and they therefore release Buypin and the Driver from any liability for negligence or error in the collection or delivery of the order as a result of the supply of incorrect addresses for collection and delivery. For delivery addresses whereas house number are not visible,
    it is the Customer’s responsibility to include a point of reference for the Driver to find the location without any complications. As a result of the foregoing, the Customer shall bear the cost resulting from the provision of an incorrect address for collection and delivery on the Platform.
    <br><br>
    The Customer must provide all the information, in as much detail as possible, about the service
    to which the assignment relates and, if applicable, in relation to the product that he/she is asking
    the Driver to buy in a physical shop on his/her behalf. To do this, he/she may provide any comments he/she may deem useful in the “comments” section.
    <br><br>
    The Customer releases Buypin and the Driver from any negligence or error in the indications
    given by the Customer for the purchase of the product ordered for purchase in a physical store on
    his/her behalf. As a result of this, the Customer shall bear the cost resulting from the provision on
    the Platform of incorrect indications regarding the products (such as an incorrect address or
    product).
    <br><br>
    The Driver will in no event will be liable for the deterioration or expiry of the product to which
    the assignment related.
    <br><br>
    <span style="margin-left: 5px;">5. Product Returns</span> 
    <br>
    If a Customer wishes to return a product or make a claim about the provision of a service, he/she
    must contact the merchant at which the purchase was made directly, with the store receipt provided by the Driver at the time of delivery of the order. If the merchant gives the Customer a refund for the purchase price, the merchant will decide how to make the refund (cash, credit card,
    store voucher, etc.). Therefore, the return of a product purchased by the Driver pursuant to a
    mandate conferred by the Customer shall in any event be subject to the merchant’s returns policy.
    <br><br>
    If a User wishes to process the return of a product because it did not match the order made
    through the platform, he/she must provide a photograph of the total order together with a list of
    the incorrect or undelivered products, as well as other proof of the inadequacy of the product requested filing a Dispute on the mobile app.
    <br><br>
    The Customer must check the products delivered by the Driver at the delivery address before
    signing and ratifying the mandate. By means of the said signature, the Customer confirms and
    ratifies the mandate, the purchase or service carried out on his/her behalf. In addition, the Customer states that a third party may ratify the mandate on his/her behalf, for example if the Customer is not at the final delivery address or has designated a third party for collection and signature. The Customer (and/or the said third party) is thus responsible for checking that the service
    provided is adequate as well as, where applicable, for collecting enough evidence to prove that it
    was not.
    <br><br>
    In any event, the decision regarding whether a return is appropriate will lie with the merchant in
    each case. The Customer must therefore inform Buypin through the Contact Form if a dispute
    arises.
    <br><br>
    <span style="margin-left: 5px;">6. Prices of the Services and Billing</span>
    <br>
    Registration and use of the Platform is completely free for Customers.
    <br><br>
    The Customer only has to pay for each service requested through the Platform. In addition, for
    services that include the purchase of a product, the User must pay the price of such product. By
    registering through the Platform and providing the required bank information, Users expressly 
    authorize Buypin to issue receipts for payment of the services requested, including the price of
    the products ordered.
    <br><br>
    The total price of each service may be composed of a variable percentage based on the number
    of kilometers traveled and the time taken by the Driver, as well as, where applicable in cases in
    which a User requests the physical purchase of a product or service, the price established by each
    merchant. Buypin reserves the right to change the price based on the time slot in which the service is performed and/or the distance traveled. In accordance with these terms, the Customer will
    be entitled to know the approximate fee for the service before contracting it and formalizing
    payment, unless the user has not specified the address for collection.
    <br><br>
    Buypin reserves the right to change its prices at any time. Such changes shall take effect immediately after publication. The User expressly authorizes Buypin to send him/her by electronic
    means, to the e-mail address provided by the User during the registration process, receipts for the
    services contracted and/or the bills generated.
    <br><br>
    <span style="margin-left: 5px;">6.1. Payment Platform</span>
    <br>
    Payment for products and/or services sold in person at Restaurants and/or stores and delivered to
    Customers in a deferred manner is temporarily made to Buypin, who then sends it to the Restaurants and/or stores with which it has a commercial agreement in place. The Restaurants and/or
    associated establishments authorize Buypin to accept payment on their behalf. Payment of the
    price of any product (such as food, drink, a gift, etc.) properly made to Buypin will therefore discharge the Customer’s obligation to pay the said price to the Restaurant and/or associated establishments.
    <br><br>

    Similarly, the Customer’s payment releases him/her from any obligation in regard to the Driver,
    as full payment from the Customer discharges any obligation that the Customer may have with
    Partners and/or Drivers.
    <br><br>

    Payment by Customers for products and/or services is received at Buypin’s accounts through an
    Electronic Money Institution. Electronic Money Institutions are authorized to provide regulated
    payment services in the territory in which Buypin operates and are in compliance with the current legislation applicable to payment services for Platforms such as Buypin. If you have any
    questions regarding the payment gateway used by Buypin, you may ask them by means of the
    following Contact Form.
    <br><br>

    Buypin, through its payment service provider, and as the unique objective to check the payment
    method communicated by the user and as antifraud measure, reserves its right to make a preauthorization of charge for the products ordered through the Platform. The preauthorization will not
    mean, in any case, the payment for the total amount of the order, as the payment will only take
    place after the approval of the order by the User, by accepting it, or by the causes described in
    the present terms and conditions.
    <br><br>
    Buypin, in order to fully support the user, acts as the first point of contact for the user and takes
    responsibility for all payments made via our platform. This responsibility includes: refunds,
    chargebacks, cancellations and dispute the resolution, at an initial point, without prejudice of
    Buypin's actions in front of local stores as unique physical sellers of the goods ordered by the
    User
    <br><br>
    In the event that a dispute is raised Buypin will offer the first line of support and will refund the
    User if deemed appropriate.
    <br><br>
    If you have any problems with your order, you can contact our customer care team by the means
    made at your disposal through the Platform.
    <br><br>
    
    <span style="margin-left: 5px;">7. Price of the Products and/or Services Appearing on the Platform</span>
    <br>
    All the prices stated on the Platform do not include any taxes until the purchase checkout.
    <br><br>

    The prices applicable to each product or service shall be as published on the Platform, subject to
    the specific characteristics set forth above, and applied automatically at the last stage of the contracting process.
    <br><br>
    The User assumes that, in any case, the price of some products may change in real time based on
    the establishment that sells them and on the available stock.
    In accordance with the foregoing, the Customer grants the Driver, by means of the purchase and
    delivery request made through the platform, a mandate to purchase the products in person, on
    his/her behalf, at the price set by the merchants. The Customer may be in direct contact with the
    Driver, both when placing the order and during its delivery, to tell the Driver which product is
    being ordered.
    <br><br>

    <span style="margin-left: 5px;"> 8. Promotional Codes</span>
    <br>
    Promotional codes must be correctly entered in the application before placing the order. Otherwise, they will not take effect and the user will be unable to enjoy their benefits.
    <br><br>
    Whenever a cancellation is requested by Buypin in accordance with Section 9 below, the Customer shall ensure that the promotional code is valid for future use. When the cancellation is at
    the User’s request, Section 9 below will apply.
    <br><br>
    Buypin reserves the right to cancel the promotional codes offered if it becomes aware of a fraudulent use thereof (such as a person exchanging a promotion code when he or she is not its lawful
    recipient, the mass transfer of codes, etc.). In addition, it reserves the right to apply sanctions to
    users for the amount defrauded to the Company
    <br><br>
    <span style="margin-left: 5px;">9. Right of Withdrawal and Cancellation of Orders</span>
    <br>
    The User may cancel an order free of charge until a Driver has accepted it.
    <br><br>

    In accordance with the nature of the service offered by Buypin, the User is aware that, once a
    Driver has voluntarily accepted an order, the execution of the purchase mandate is considered to
    have started, and the User is therefore no longer entitled to withdraw from the service request
    free of charge. A DRIVER cannot cancel an order once accepted.
    <br><br>

    A customer will not be entitled to a refund once an order of food or other perishable goods has
    assigned to a Driver.
    <br><br>

    Buypin reserves the right to cancel an order without having to provide a just cause. In the event
    of cancellation at Buypin’s instance, the User shall be entitled to a refund of the amount paid.
    <br><br>

    <span style="margin-left: 5px;"> 10. Special Terms of the Purchase Service Ordered Through Buypin</span>
    <br>
    <span style="margin-left: 5px;">  10.1. Price and Payment Method </span>
    <br>
    DRIVERS must register with stripe.com in order for payment to be made for successfully completed deliveries.
    <br><br>
    <span style="margin-left: 5px;">10.2. Home Delivery of Free Samples and Other Commercial Actions</span>
    <br>
    <br>

    Buypin reserves the right to enter into commercial agreements with Stores, Department Stores,
    Entrepreneurs, Professionals (e.g. mass-market food companies, laboratories, Department Stores,
    large and small consumer brands, etc.) to send promotional communications, including the addition of free samples to the order delivered to the User’s home. Users agree to such commercial
    actions together with these Terms of Use.
    <br><br>

   <span style="margin-left: 5px;">  11. Purchases of Alcohol </span>
   <br>
    Users who place an order that includes the purchase and/or delivery of alcoholic drinks through
    the platform must be of legal age; i.e. 18 or older. When making an order that includes alcoholic
    drinks, the User confirms that he/she is at least 18 years old. Buypin reserves the right to refuse
    the order for the purchase and/or delivery of alcohol to any person who is unable to prove that
    they are at least 18 years old.
    <br>

    This clause will apply in exactly the same way to any other similar product and/or service ordered by a User through the Platform that is reserved for buyers over that are at least 18 years
    old, under the current legislation.
    <br><br>
    Similarly, in those cases and cities in which the sale and/or delivery of alcoholic drinks is restricted during a particular time slot, it is the User’s responsibility to place orders only during the
    times allowed under the applicable legislation. Buypin reserves the right to refuse the order for
    the purchase and/or delivery of alcohol outside the permitted times.
    <br>  <br>

    <span style="margin-left: 5px;">12. Products from Pharmacies</span>
    <br>


    In accordance with the current legislation, Buypin does not sell or advertise medicines for human
    use through the Platform. Drivers act as agents of those Users who order through the Platform
    non-prescription drugs for human use for collection.
    <br><br>
    In any event, Buypin will accept no responsibility for Users’ use of the products ordered in the
    Pharmacy section or be liable for the amounts and/or condition of the products dispensed at
    pharmacies.
    <br><br>
    <span style="margin-left: 5px;">13. Policy on the Delivery of Restricted Items</span>
    <br>
    Non-Exhaustive List of Examples:
    <br>
    Alcohol and Tobacco Products
    <br>
    Deliveries of alcohol and tobacco products may be limited or restricted in certain cities in which
    the Platform operates.
    <br><br>
    Animals and Regulated Species
    <br><br>
    Animal parts or fluids; banned seeds, harmful plants; regulated plants or other organisms (including their by-products) which are endangered or whose trade is regulated by law as applicable in
    any case.
    <br><br>
    Child pornography
    <br><br>
    Pornographic material involving children or content that may be perceived as erotic pedophilia.
    <br><br>
    Copyright on Software and Media
    <br><br>
    Unauthorized copies of books, music, films and other protected or licensed materials, including
    properly referenced copies; and unauthorized copies of software, video games and other protected or licensed materials.
    <br><br>
    Counterfeits and unauthorized products
    <br>
    Copies or imitations of designer products or other goods; items belonging to celebrities that
    would usually require authentication; false autographs; foreign currency; stamps; tickets; or other
    unauthorized goods.
    <br><br>

    Devices or tools for overcoming security measures
    <br><br>
    Modems, chips or other devices for dismantling technical protection measures as well as on digital devices, including for unlocking iPhones.
    <br><br>
    Drugs
    <br><br>  
    Controlled substances, narcotics, illegal drugs and their paraphernalia, including psychoactive
    and vegetable drugs such as psychedelic mushrooms, as well as materials promoting their use; or
    legal substances such as plants and herbs presented in a form that suggests they should be ingested, inhaled, extracted or used in any other way that may result in the same use as an illegal substance, drug or component or that claims to have unproven health benefits.
    <br><br>
    Gambling and Betting
    <br><br>
    Lottery tickets, bets, online betting site memberships/registrations, and related content. Permitted
    promotion of physical casinos.
    <br><br>
    Products Sold in Pharmacies
    <br><br>
    Deliveries of pharmaceutical products are limited to OTC (over-the-counter) medicines, and
    goods in the regular course of business. Prescription drugs may not be ordered/delivered.
    <br><br>
    Materials for hacking and cracking
    <br><br>
    Manuals, guides, information or equipment that infringes the law by damaging or fraudulently
    facilitating access to software, servers, websites or other protected property.
    <br><br>
    Human parts
    <br><br>
    Organs or other body parts; body fluids; stem cells; embryos
    <br><br>
    Stolen or illegal goods
    <br><br>
    Materials, products or information that promotes illegal goods or facilitates illegal acts; goods
    not belonging to a person or which a person has no right to sell; goods produced in violation of
    third-party rights; goods infringing import, export or labelling restrictions; motor vehicles that
    are subject to transfer restrictions. You (the Buypin User) are solely and fully responsible for
    checking that all items are genuine and legal.
    <br><br>
    Illegal telecommunications equipment
    <br><br>
    Devices aimed at obtaining satellite signals without payment, illegal products for modifying mobile phones and other equipment.
    <br><br>
    Offensive goods
    <br><br>
    Goods, literature, products or other materials that:
    <br><br>
  </p>

<ul>
    <li> Are defamatory of any person or group of people based on their race, ethnic origin or country
    of origin, religion, gender or any other factor.
  </li>
  <br>
    
<li>Are defamatory of any person or group of people who are protected from defamation by the
    applicable law (e.g. the royal family in some jurisdictions).
  </li>
  <br>

    <li>Praise or incite the commission of violence.</li>
    <br>

    <li>Promote intolerance or hatred.</li> <br>

    <li>Promote or support membership of terrorist groups or other organizations that are prohibited
        by law.</li><br>

    <li>Are contrary to public morals.</li>
<br>
    <li>Offensive goods related to a criminal offense</li><br>

    <li> Photographs of, or objects from, a crime scene, such as personal belongings, associated with
        criminals or criminal acts.</li><br>

    <li> Precious materials</li><br>

    <li>
        Bulk sales of rare, scarce or valuable stones or materials.
        
    </li>
<br>
    <li>
        Culturally protected artifacts
    </li><br>
    
    <li>
        Pyrotechnic devices and dangerous substances requiring special permission
    </li><br>
    
    <li>
        Pyrotechnic items and related goods in markets in which their supply is regulated, as well as
        substances such as petrol or propane.
    </li><br>
    
    <li>
      Traffic-related devices
    </li><br>

    <li>
        Radars, number plate holders, illegal traffic-modification devices and related products.
    </li><br>

    <li>
        Weapons
    </li><br>
    
    <li>
        Firearms, ammunition and other items including, without limitation, firearms, knives that are
        either undetectable or easy to conceal, martial arts weapons, silencers, ammunition or ammunition magazines.
    </li><br>
    
    <li>
        Money and Foreign Currency
    </li><br>
    
    <li>
        Foreign currency or currencies insured with precious metals, as well as banknotes, coins or
        any other valuable securities
    </li><br>
    
    <li>Primary and Secondary Schools / Use by children</li><br>

  </ul>
  <br><br>

  <p class="term"> 
    We reserve the right to refuse orders from users who are minors. In addition, we reserve the right
    to refuse orders at any location near a primary or secondary school, as well as to ask for sufficient proof of age.
    <br><br>
    Misuse of the platform / Abuse
    <br><br>
    We will not tolerate the use of abusive language or abusive attitudes towards our company,
    clients,, or freelance workers.
    <br><br>

     <span style="margin-left: 5px;">14. Location</span>
     <br>
    Buypin may collect, use and share exact location data, including the real-time geographic location of the User’s computer or mobile device, provided that this is authorized by the User. The
    said location data may be collected and used by Buypin to show Users the location of the point
    of origin and/or destination of an assignment. In this regard, Users expressly consent to their location data being shared with other Users and Suppliers in order to successfully carry out the assignment requested at any given time. Users may choose to disable their location on their devices
    as provided in the Data Privacy Policy.
    <br><br>

    The User shall be responsible for entering the correct addresses for collection and delivery. In
    this regard, Buypin will accept no liability for errors or omissions in the provision of such addresses by the User.
    <br><br>

    <span style="margin-left: 5px;"> 15. The User’s Obligations</span>
    <br>
    Users are fully responsible for the proper use of, and access to, their profile and other Platform
    contents in accordance with the current legislation, be it national or international, of the Country
    from which they are using the Platform, as well as with the principles of good faith, morals, generally accepted customs and public order. Specifically, they undertake to diligently comply with
    these General Terms of Use.
    <br><br>

    Users shall refrain from using their profile and other Platform contents for illegal purposes or
    with illegal results that harm third-party rights and interests, or that may in any way damage, disable, affect or impair the Platform and its contents and services. In addition, they are prohibited
    from hindering other Users’ normal use or enjoyment of the Platform.
    <br><br>
    Buypin may not be deemed to have editorial responsibility, and it expressly states that it does not
    identify with any of the opinions that may be issued by Users of the Platform, whose consequences shall be the sole responsibility of their issuers.
    <br><br>

    Any persons who breach the above obligations shall be liable for any loss or damage caused by
    them. Buypin will accept no liability for any consequences, loss or damage that may arise from
    such illegal use or access by third parties.
    <br><br>
    In general, Users undertake, by way of example without limitation:
    <br><br>

    To refrain from altering or modifying the Platform, in full of in part, by bypassing, disabling or
    in any other way tampering with, its functions or services;
    <br>
    To refrain from infringing industrial and intellectual property rights or the rules on personal data
    protection;
    <br>
    To refrain from using the Platform to insult, defame, intimidate or harass other Users or attacking
    their image; To refrain from accessing other Users’ e-mail accounts;
    <br>
    To refrain from introducing computer viruses, corrupted files or any other software that may
    cause damage or alterations to Buypin’s or third parties’ contents or systems;
    <br>
    To refrain from sending mass and/or recurring e-mails to a number of people, or from sending
    third parties’ e-mail addresses without their consent;
    <br>
    To refrain from advertising goods or services without Buypin’s prior consent.
    Any User may report another User if he/she believes that the latter is in breach of these General
    Terms of Use. Similarly, any User may inform Buypin of any abuse or infringement of these
    terms through the Contact Form. Buypin will check such reports as soon as possible and will
    take any steps that it may deem appropriate, reserving the right to remove and/or suspend any
    User from the Platform for breach of these General Terms of Use. Furthermore, Buypin reserves
    the right to remove and/or suspend any message with illegal or offensive content without the
    need for a prior warning or subsequent notification.
    <br><br>

     <span style="margin-left: 5px;">16. Deregistration by Users</span>
     <br>
    Users may deregister from the Platform by sending an e-mail through the Contact Form.
    <br><br>

     <span style="margin-left: 5px;">17. Buypin’s Responsibility</span>
     <br>
    Users are responsible for having in place the necessary services and equipment to browse the Internet and access the Platform. Users can report any incidents or problems accessing the Platform
    to Buypin by means of the Contact Form, and Buypin will analyze the incident and instruct the
    User on how to resolve it as quickly as possible.
    <br>
    <br>

    Buypin does not control, and is not responsible for, the contents uploaded by Users through the
    Platform, and Users are solely responsible for the lawfulness of such contents.
    Buypin will not be liable for any service interruptions, connection errors, unavailability of, or
    faults in, the Internet access service, or Internet interruptions or for any other matters beyond its
    control.
    <br><br>

    Buypin accepts no liability for any security errors that may arise or for any damage that may be
    caused to the User’s computer system (hardware and software), or to the files or documents
    stored therein, as a result of:
    <br><br>
    The presence of a virus in the User’s computer system or mobile handset used to connect to the
    Platform’s contents and services;
    A malfunction of the browser;
    The use of outdated versions thereof.
    <br><br>

     <span style="margin-left: 5px;">18. Responsibility for Content</span>
     <br>

    Buypin does not control (and is under no obligation to control) how Users use the Platform. It
    therefore does not guarantee that Users use the Platform in accordance with these General Terms
    of Use or in a diligent and/or prudent manner. Buypin does not check (and is under no obligation
    to check) the identity of Users or the truthfulness, current validity, completeness and/or authenticity of the data supplied by them.
    <br><br>

    Buypin rejects any liability for damages of any kind that may arise from Users’ illegal use of the
    Platform or due to the information supplied by Users to other Users about themselves being untrue, no longer valid, incomplete and/or false and, in particular and without limitation, for any
    loss or damage of any kind that may arise due to a User impersonating a third party in any kind
    of communication made through the Platform. In particular, Buypin accepts no responsibility for
    the use of the application or for any orders that may be made by a third party from the User’s account.
    <br><br>

    Notwithstanding the foregoing, Buypin reserves the right to fully or partly restrict certain Users’
    access to the Platform, as well as to cancel, suspend, block or remove certain types of content, by
    means of suitable technological tools, if it becomes aware that the activity or the information
    stored is illegal or harmful to a third party’s rights or property. In this regard, Buypin may establish any filters that may be necessary to prevent the service from being used to upload unlawful
    or harmful content to the Internet. By making content available through the Platform, Users assign to Buypin all exploitation rights arising from the contents thus supplied
    <br><br>

    Buypin may, in Buypin's sole discretion, permit you from time to time to submit, upload, publish
    or otherwise make available to Buypin through the our Services and for your best User experience any textual, audio, and/or visual content and information regarding Buypin Services, including e.g commentary, order chat , support and feedback related to the Buypin Services, initiation of support requests, and submission of entries for competitions and promotions ("User Content"). 
    Any User Content provided by you remains your property and are covered under local legislation. Thus, in this act, you by providing User Content to Buypin, you grant Buypin a worldwide,
    irrevocable, transferable, royalty-free license, with the right to sublicense, to use, copy, modify,
    create derivative works of, distribute, publicly display, publicly perform, and otherwise exploit in
    any manner such Buypin Content in all formats and distribution channels now known by Buypin
    Services or hereafter devised, with or without further notice to or consent from you, and without
    the requirement of payment to you or any other person or entity.
    <br><br>

    To help facilitate the execution of Your order and interaction with the Store and the Driver,
    Buypin may have to share certain information about the request for your order, including the details indicated by you in the support chat or in the chat with the Driver, all this whenever it is
    necessary for the good execution of the service for you requested through Buypin.
    <br><br>

     <span style="margin-left: 5px;">19. No Warranty in Assignments or Payments</span>
     <br>

    Buypin gives no warranties regarding the authenticity, accuracy, novelty, reliability, lawfulness
    or non-infringement of third-party rights by Drivers. In this regard, Users state that they understand that Buypin is an independent company that puts Customers and Drivers in contact with
    each other, and that it accepts no liability arising from the information provided by Drivers or for
    any loss or damage that may potentially be suffered by them due to a breach of these General
    Terms of Use. Buypin will therefore never be liable for the availability of Drivers or for their adequate and satisfactory performance of assignments.
    <br><br>

    Buypin makes no assertions or confirmation regarding any Drivers or their identity or background information. Notwithstanding the foregoing, Buypin may potentially carry out additional
    checks and put into motion procedures designed to help check or verify the identity of Drivers.
    In this regard, when a User achieves Driver status, this simply indicates that the said user has
    completed the relevant registration process and has accepted these General Terms of Use and any
    other specific conditions that may apply to him/her. Such status implies neither certification nor
    endorsement by Buypin as to such User’s reliability, suitability and/or safety.
    <br><br>

    By becoming members of the Platform, Users accept that any claims they wish to bring for legal
    liability arising from actions or omissions of other Users of the Platform or third parties shall be
    restricted to such Users or third parties, and that no actions for liability may be taken against
    Buypin.
    <br><br>

     <span style="margin-left: 5px;">20. Updates and Changes to the Platform</span>
     <br>

    Buypin reserves the right to amend these General Terms of Use, the Privacy Policy at any time
    and without prior notice. Users must carefully read these General Terms when accessing the Platform. In any event, acceptance of the General Terms is an essential step to be taken before accessing the services and contents available through the Buypin Platform.
    <br>
    <br>

    In addition, Buypin reserves the right to update, amend or delete the information contained on its
    Platform, at any time and without the need for prior notice, with regard to its layout, presentation 
    and access conditions, without thereby accepting any liability in relation thereto. Buypin does
    not guarantee the absence of errors or interruptions when accessing the Platform or its content, or
    that it will always be up to date. Notwithstanding the foregoing, Buypin shall, save in the event
    of circumstances making this difficult or impossible, take all steps to correct such errors, restore
    communication and update contents as soon as it becomes aware of the errors or disconnection
    or of the contents being out of date.
    <br><br>

     <span style="margin-left: 5px;">21. Intellectual Property</span>
     <br>

    Buypin is the owner or licensee of all intellectual and industrial property rights included on the
    Platform as well as of the contents that can be accessed through it. The intellectual property
    rights of the Platform, as well as the text, images, graphic design, browsing structure, information and contents included therein are the property of Buypin, who has the exclusive right to exercise the exploitation rights therein in any manner, in particular the rights of reproduction, distribution, publication and transformation, in accordance with American intellectual and industrial
    property rights.
    <br><br>

    Authorizing a User to access the Platform does not imply the waiver, transfer, licensing or full or
    partial assignment by Buypin of any intellectual or industrial property rights. Deleting, bypassing
    or in any way tampering with the contents of the Buypin Platform are all prohibited. In addition,
    modifying, copying, reusing, exploiting, reproducing, publicizing, making second or subsequent
    publications of, uploading files, sending by post, transmitting, using, processing or distributing in
    any way all or some of the contents included in the Buypin Platform for public or commercial
    purposes are also prohibited, save with Buypin’s express written authorization or, where applicable, that of the owner of the rights concerned.
    <br><br>

    Any User who shares any content of any kind through the Platform asserts that he/she has the
    necessary rights to do so, releasing Buypin from any liability regarding the content and lawfulness of the information supplied. By providing content through the Platform, Users assign to
    Buypin, free of charge and to the maximum extent permitted by the current legislation, the exploitation rights on the intellectual or industrial property arising from such content.
    <br><br>

     <span style="margin-left: 5px;">22. Severability</span>
     <br>
    If any of the clauses of these General Terms is found to be void by operation of law or voidable,
    it shall be deemed not to have been included. Such declaration of nullity will not cause the rest of
    the Agreement to be void, and the said Agreement shall remain valid and effective between the
    Parties.
    <br><br>

    <span style="margin-left: 5px;"> 23. Applicable Law</span>
    <br>
    The relationship between Buypin and the User shall be governed and construed in accordance
    with the General Terms, whose construction, validity and enforcement shall be governed by the
    laws of the Puerto Rican Commonwealth; and any disputes shall be submitted to the Courts of
    Puerto Rico.
  <br></p>

  </ion-card>  

</ion-content>