<ion-content class="bg">

  <ion-card class="logo-card">
    <img class="logo" src="assets/logo.png">
  </ion-card>


  <ion-card class="bag-card">
    <img class="bag" src="assets/pin-red.png">
  </ion-card>


  <ion-card class="login-card">
    <ion-grid no-padding style="background: #FD5440; margin-bottom: 10px;">
      <ion-row no-padding>
        <ion-col no-padding size="1">
          <ion-icon class="icon" ios="ios-person" md="md-person"></ion-icon>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="username" id="name" type="text" placeholder="EMAIL">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding style="background: #FD5440; margin-top: 5px; margin-bottom: 10px;">
      <ion-row no-padding>
        <ion-col no-padding size="1">
          <ion-icon class="icon" ios="ios-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col no-padding>
          <ion-input [(ngModel)]="password" id="password" type="password" placeholder="CONTRASEÑA">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button style="--box-shadow: none;"  (click)="signIn()" class="login-btn" expand="block">LOGIN</ion-button>
    <ion-button style="--box-shadow: none;"  (click)="openPage()" class="create-btn" expand="block">CREAR CUENTA</ion-button>
  </ion-card>
  

  <!-- <ion-card class="login-card">
    <ion-input [(ngModel)]="username" id="name" type="text" placeholder="EMAIL">
    </ion-input>
    <ion-input [(ngModel)]="password" id="password" type="password" placeholder="CONTRASEÑA">
    </ion-input>
    <ion-button style="--box-shadow: none;"  (click)="signIn()" class="login-btn" expand="block">LOGIN</ion-button>
    <ion-button style="--box-shadow: none;"  (click)="openPage()" class="create-btn" expand="block">CREAR CUENTA</ion-button>
  </ion-card> -->

  <ion-card style="box-shadow: none; margin: 0; margin-left: auto; margin-right: auto; padding-top: 30px;">
    <!--<ion-grid ion-button no-padding>
      <ion-row>
        <ion-col size="4">
          <img class="facebook-btn" src="assets/fbblue.png">
        </ion-col>
        <ion-col>
          <p
            style="font-family: 'Mukta', sans-serif; color: white; font-size: 15px; margin-top: 3px; margin-bottom: 0;">
            Conectar con Facebook</p>
        </ion-col>
      </ion-row>
    </ion-grid>-->
    <p ion-button (click)="openPage3()" expand="full"
      style="margin-top: 2px; text-align: center; color: white; font-weight: 700;font-size: 15px; font-family: 'Mukta', sans-serif;">
      ¿Olvidó su contraseña?</p>
  </ion-card>
</ion-content>