<ion-card class="logo-card">
  <h1 class="logo">Licencia de Conducir</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card class="camera-card">
      <ion-img class="img" src="assets/camera2.jpg"></ion-img>
  </ion-card>

  <ion-card class="input-card">
    <ion-label class="title-input">Nombre</ion-label>
    <ion-input class="input" type="text"></ion-input>

    <ion-label class="title-input">Número de Teléfono</ion-label>
    <ion-input class="input" type="tel"></ion-input>

    <ion-label class="title-input">Correo Electrónico</ion-label>
    <ion-input class="input" type="tel"></ion-input>

    <ion-button class="done-btn" (click)="openPage()" expand="block">COMPLETAR</ion-button>
  </ion-card>
</ion-content>