<ion-card class="logo-card">
  <h1 class="logo">Información de Conductor</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card class="camera-card">
      <ion-img *ngIf="savedPhoto == null" class="img" (click)="presentAlertConfirm()" src="assets/camera2.jpg"></ion-img>
      <ion-img *ngIf="savedPhoto != null" class="img" src="{{savedPhoto.url()}}"></ion-img>

  </ion-card>

  <ion-card class="input-card">
    <ion-label class="title-input">Nombre</ion-label>
    <ion-input [(ngModel)]="name"  class="input" type="text"></ion-input>

    <ion-label class="title-input">Número de Teléfono</ion-label>
    <ion-input [(ngModel)]="number" class="input" type="tel"></ion-input>

    <ion-label class="title-input">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" class="input" type="tel"></ion-input>

    <ion-button class="done-btn" (click)="setNewData()" expand="block">CONTINUAR</ion-button>
  </ion-card>
</ion-content>