<ion-card class="logo-card">
  <h1 class="logo">Registro de Vehículo</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content class="bg-orange">

  <ion-card style="box-shadow: none; padding: 10px;">
    <h5 class="title-input">NOMBRE COMPLETO</h5>
    <ion-input type="text" class="name" placeholder=""></ion-input>
    <h5 class="title-input">DIRECCIÓN</h5>
    <ion-input type="text" class="name" placeholder=""></ion-input>
    <h5 class="title-input">MARCA</h5>
    <ion-input type="text" class="name" placeholder=""></ion-input>
    <h5 class="title-input">MODELO</h5>
    <ion-input type="text" class="name" placeholder=""></ion-input>
    <h5 class="title-input">AÑO</h5>
    <ion-input type="type" class="name" placeholder=""></ion-input>
    <h5 class="title-input">TABLILLA</h5>
    <ion-input type="text" class="name" placeholder=""></ion-input>
    <h5 class="title-input">COLOR</h5>
    <ion-input type="text" class="name" placeholder=""></ion-input>

    <ion-button (click)="openPage()" expand="block" class="done-btn">COMPLETAR</ion-button>
  </ion-card>

</ion-content>