<ion-card class="logo-card">
  <h1 class="logo">Licencia de Vehículo</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card class="lic-card">
    <!-- <img ion-button   (click)="openCamera()" class="lic" src="assets/licencia de vehiculo.png"> -->
    <img ion-button   (click)="openCamera()" class="lic" src="{{licensePic}}">
  </ion-card>

  <ion-item>
    <ion-input [(ngModel)]="license" class="input" type="text" placeholder="{{license}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime [(ngModel)]="expDate" class="style-placeholder" displayFormat="MMMM / YY" placeholder="{{expDate}}"></ion-datetime>
  </ion-item>


  <!-- <h5 class="title-input">NOMBRE COMPLETO</h5> -->
  <ion-item>
    <!-- <ion-input type="text" class="input" placeholder="Nombre"></ion-input> -->
    <ion-input [(ngModel)]="name" type="text" class="input" placeholder="{{fullName}}}"></ion-input>
  </ion-item>
  <!-- <h5 class="title-input">DIRECCIÓN</h5> -->
  <ion-item>
    <!-- <ion-input type="text" class="input" placeholder="Dirección"></ion-input> -->
    <ion-input [(ngModel)]="address" type="text" class="input" placeholder="{{address}}"></ion-input>
  </ion-item>
  <!-- <h5 class="title-input">MARCA</h5> -->
  <ion-item>
    <!-- <ion-input type="text" class="input" placeholder="Marca"></ion-input> -->
    <ion-input [(ngModel)]="make" type="text" class="input" placeholder="{{make}}"></ion-input>
  </ion-item>
  <!-- <h5 class="title-input">MODELO</h5> -->
  <ion-item>
    <!-- <ion-input type="text" class="input" placeholder="Modelo"></ion-input> -->
    <ion-input [(ngModel)]="model" type="text" class="input" placeholder="{{model}}"></ion-input>
  </ion-item>
  <!-- <h5 class="title-input">AÑO</h5> -->
  <ion-item>
    <!-- <ion-input type="text" class="input" placeholder="Año"></ion-input> -->
    <ion-input [(ngModel)]="year" type="type" class="input" placeholder="{{year}}"></ion-input>
  </ion-item>
  <!-- <h5 class="title-input">COLOR</h5> -->
  <ion-item>
    <!-- <ion-input type="text" class="input" placeholder="Color"></ion-input> -->
    <ion-input [(ngModel)]="color" type="text" class="input" placeholder="{{color}}"></ion-input>
  </ion-item>

  <ion-card>
    <ion-button (click)="setNewData()" class="complete-btn" expand="block">GUARDAR</ion-button>
  </ion-card>
</ion-content>