.bg-orange {
    background: #FD5440;
  }
  
  .logo-card {
    box-shadow: none;
    padding-bottom: 0;
  }
  
  .logo {
    width: 100px;
    height: 80px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
  
  .arrow-icon {
    color: white;
    width: 25px;
    height: 25px;
  }
  
  .arrow-btn {
    --background: transparent;
    --background-activated: transparent;
    position: absolute;
    top: 14px;
    left: 0;
    --box-shadow: none;
  
  }
  
  .triangle {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid white;
  }
  
  .name {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fd5440;
    --padding-start: 5px;
    --placeholder-opacity: 10;
    font-family: 'Mukta', sans-serif;
  
  }
  
  .reset-btn {
    margin-top: 50px;
    --background: #fd5440;
    --background-activated: #fd5440;
    font-size: 13px;
    font-weight: 700;
    --border-radius: 25px;
    height: 50px;
    font-family: 'Mukta', sans-serif;
  }