<div class="bg-orange">
  <ion-card class="logo-card">
    <img class="logo" src="assets/logo prueba.png">

    <ion-button style="--box-shadow: none;"  (click)="goBack()" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>

    <img src="assets/key.png" style="object-fit: contain; margin-bottom: 40px;" width="150px" height="150px">
  </ion-card>
  <div class="triangle"></div>
</div>

<ion-content>
  <ion-card style="box-shadow: none; padding: 10px;">
    <h2 style="text-align: center; font-weight: 400; margin-top: 10px; color: black;">¿Olvidó su contraseña?</h2>
  <p style="text-align: center; font-family: 'Mukta', sans-serif;">Solo necesitamos su identificación de correo electrónico registrada para enviar sus instrucciones de restablecimiento de contraseña.</p>
    <ion-input [(ngModel)]= "email" type="text" class="name" placeholder="Email Address"></ion-input>
    <ion-button style="--box-shadow: none;"  (click)="resetPass()" class="reset-btn" expand="block">RESTABLECER CONTRASEÑA</ion-button>
  </ion-card>
</ion-content>