<ion-card class="logo-card">
  <h1 class="logo">Ganancias</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>

  <!-- daily earnings card -->

  <ion-card class="article-container">
    <p class="article-name" style="margin-left: 10px; color: black; font-size: 13px;">Ganancias del día</p>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FFC93A; padding: 0;">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">TOTAL</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price" style="color: white; font-weight: 700; font-size: 15px;">$19.95</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- weekly earnings card -->

  <ion-card class="article-container">
    <p class="article-name" style="margin-left: 10px; color: black; font-size: 13px;">Ganancias de la semana</p>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FFC93A; padding: 0;">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">TOTAL</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price" style="color: white; font-weight: 700; font-size: 15px;">$19.95</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- monthly earnings card -->

  <ion-card class="article-container">
    <p class="article-name" style="margin-left: 10px; color: black; font-size: 13px;">Ganancias del mes</p>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FFC93A; padding: 0;">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">TOTAL</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price" style="color: white; font-weight: 700; font-size: 15px;">$19.95</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- yearly earnings card -->

  <ion-card class="article-container">
    <p class="article-name" style="margin-left: 10px; color: black; font-size: 13px;">Ganancias del año</p>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FFC93A; padding: 0;">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">TOTAL</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price" style="color: white; font-weight: 700; font-size: 15px;">$19.95</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>