<ion-card class="logo-card">
  <h1 class="logo">Licencia de Conducir</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card class="lic-card">
    <img ion-button (click)="openCamera()" class="lic" src="assets/icon licencia de conducir.png">
  </ion-card>

  <ion-item>
    <ion-input class="input" type="tel" placeholder="Número de licencia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime class="style-placeholder" displayFormat="MMMM / YY" placeholder="Expiration Date"></ion-datetime>
  </ion-item>

  <ion-card>
    <ion-button (click)="openPage()" class="complete-btn" expand="block">COMPLETAR</ion-button>
  </ion-card>
</ion-content>