<ion-card class="logo-card">
  <h1 class="logo">Licencia de Conducir</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card class="lic-card">
    <img ion-button *ngIf="savedPhoto == null"  (click)="presentAlertConfirm()" class="lic" src="assets/icon licencia de conducir.png">
    <img ion-button *ngIf="savedPhoto != null"  (click)="presentAlertConfirm()" class="lic" src="{{savedPhoto.url()}}">
  </ion-card>

  <ion-item>
    <ion-input [(ngModel)]="licenseNumber" class="input" type="tel" >{{plate}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime [(ngModel)]="expDate" class="style-placeholder" displayFormat="D /MMMM / YYYY" placeholder="Expiration Date" min="2019" max= "2025"> </ion-datetime>
  </ion-item>

  <ion-card>
    <ion-button (click)="addLicenseInfo()" class="complete-btn" expand="block">COMPLETAR</ion-button>
  </ion-card>
</ion-content>