<ion-card class="logo-card">
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  <img class="logo" src="assets/logo.png">
</ion-card>

<ion-content class="bg-orange">


<ion-card>
    <h5 class="title-input">SOBRE BUYPIN</h5>
 <p class="text">BuyPin se creó con el propósito de ofrecer servicios de entrega entre comercios y consumidores por medio de nuestra aplicación móvi. 
   Ofrecer productos y servicios de distintas categorías de comercios para eventualmente convertirse en unas de las plataformas principales de
   BuyPin se creó con el propósito de ofrecer servicios de entrega entre comercios y consumidores por medio de nuestra aplicación móvi. Ofrecer productos y servicios de distintas categorías de comercios para eventualmente convertirse en unas de las plataformas principales de Puerto Rico que ofrezca al usuario una experiencia de entrega de calidad y vanguardia.
    Puerto Rico que ofrezca al usuario una experiencia de entrega de calidad y vanguardia.</p>

  </ion-card>  
  <h5 class="title-input">CONTÁCTANOS</h5>
    <p style="color: gray; margin-left: 15px;" >Teléfono:</p>
    <p class="text2">787-224-0013</p>
    <p style="color: gray; margin-left: 15px;" >Email:</p>
    <p class="text2">carreras@buypin.app</p>
</ion-content>